@page "/admin/dashboard"
@model FindingHealthcareSystem.Pages.Admin.DashboardModel
@{
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";

}

<div class="container mt-10">
    <h1>
        admin dashboard
    </h1>
</div>