@page "/article/{id}"
@model FindingHealthcareSystem.Pages.Article.DetailModel
@{
}

<!--------------------------------------------------------------------------------------------------------!>
<!--                               VIEW DETAIL OF ARTICLE (GUEST-PATIENT)                               --!>
<!--------------------------------------------------------------------------------------------------------!>
<link rel="stylesheet" href="~/css/detailArticle.css" />
<div class="container mt-10">
    <!-- Article Content Section -->
        <div class="row">
            <div class="col mx-auto">
                <div class="article-content-container">

                    <h1 class="article-title">@Model.Article.Title</h1>
                    <span class="article-category">@Model.Article.CategoryName</span>

                    <!-- Featured Image -->
                    <img src="~/img/DefaultNews.jpg" alt="Article featured image" class="article-featured-image">

                    <!-- Article Content -->
                    <div class="article-content">
                            @Html.Raw(Model.Article.Content)
                    </div>

                    <!-- Image Gallery -->
                    <div class="article-gallery">
                        <h3 class="gallery-title">Ảnh</h3>
                        <div class="gallery-grid">
                            <div class="gallery-item">
                                <img src="~/img/DefaultNews.jpg" alt="Gallery image 1" class="gallery-image">
                            </div>
                            <div class="gallery-item">
                                <img src="~/img/DefaultNews.jpg" alt="Gallery image 2" class="gallery-image">
                            </div>
                            <div class="gallery-item">
                                <img src="~/img/DefaultNews.jpg" alt="Gallery image 3" class="gallery-image">
                            </div>
                            <div class="gallery-item">
                                <img src="~/img/DefaultNews.jpg" alt="Gallery image 4" class="gallery-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="container">
        <div class="row">

        </div>
    </div>

</div>


